C-sharp level two/eigth_homework/Company/Company/Connected Services/WebService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEmployers">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployersResult" type="tns:ArrayOfEmployer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employer" nillable="true" type="tns:Employer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Department_Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDepartments">
        <s:complexType />
      </s:element>
      <s:element name="GetDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsResult" type="tns:ArrayOfDepartment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDepartment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Department">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateEmployer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="department_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployerResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertEmployer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="department_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEmployerResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteEmployer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployerResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDepartmentResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployersSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployers" />
  </wsdl:message>
  <wsdl:message name="GetEmployersSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployersResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmployer" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmployerResponse" />
  </wsdl:message>
  <wsdl:message name="InsertEmployerSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEmployer" />
  </wsdl:message>
  <wsdl:message name="InsertEmployerSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEmployerResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmployer" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmployerResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDepartment" />
  </wsdl:message>
  <wsdl:message name="InsertDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDepartmentResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetEmployers">
      <wsdl:input message="tns:GetEmployersSoapIn" />
      <wsdl:output message="tns:GetEmployersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input message="tns:GetDepartmentsSoapIn" />
      <wsdl:output message="tns:GetDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployer">
      <wsdl:input message="tns:UpdateEmployerSoapIn" />
      <wsdl:output message="tns:UpdateEmployerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployer">
      <wsdl:input message="tns:InsertEmployerSoapIn" />
      <wsdl:output message="tns:InsertEmployerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployer">
      <wsdl:input message="tns:DeleteEmployerSoapIn" />
      <wsdl:output message="tns:DeleteEmployerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDepartment">
      <wsdl:input message="tns:InsertDepartmentSoapIn" />
      <wsdl:output message="tns:InsertDepartmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployers">
      <soap:operation soapAction="http://tempuri.org/GetEmployers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployer">
      <soap:operation soapAction="http://tempuri.org/UpdateEmployer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployer">
      <soap:operation soapAction="http://tempuri.org/InsertEmployer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployer">
      <soap:operation soapAction="http://tempuri.org/DeleteEmployer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDepartment">
      <soap:operation soapAction="http://tempuri.org/InsertDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployers">
      <soap12:operation soapAction="http://tempuri.org/GetEmployers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap12:operation soapAction="http://tempuri.org/GetDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployer">
      <soap12:operation soapAction="http://tempuri.org/UpdateEmployer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployer">
      <soap12:operation soapAction="http://tempuri.org/InsertEmployer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployer">
      <soap12:operation soapAction="http://tempuri.org/DeleteEmployer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDepartment">
      <soap12:operation soapAction="http://tempuri.org/InsertDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44352/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44352/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>